<div class="@Css">
    <div class="rounded border h-100">
        <span class="form-text fw-semibold rounded-bootom rounded-end border-bottom border-end m-0 p-1 align-self-start">@Label</span>
        <div class="d-flex flex-column align-items-center m-1 mt-2">
            @ChildContent
        </div>
    </div>
</div>