<!-- Main navbar -->
<div class="navbar navbar-expand-lg navbar-static border-bottom border-bottom-white border-opacity-10 flex-nowrap">
    <div class="container-fluid">

        <div class="navbar-brand p-0">
            <a href="/" class="d-inline-flex align-items-center">
                <img src="/assets/images/logo.svg" alt="" class="h-40px rounded">
            </a>
        </div>
        
        <div class="position-relative justify-content-center ps-1">
            <UltimateDeviceList />
        </div>

        <ul class="nav flex-row justify-content-end order-1 order-lg-2">
            <UserMenu />
        </ul>
    </div>
</div>
<!-- /main navbar -->