<Modal ShowFooter="false" Size="UltimateRemote.Enums.ModalSize.Large" Title="@ModalTitle" VCenter="true" Show="true" BodyCss="p-1">
    <Content>
        
    </Content>
</Modal>

@*
<div id="bcApiV01Warning" class="bg-transparent text-body" style="display: none;">
    <div class="text-justify">@((MarkupString)Strings.ContentListSearch.ApiV01CharLimit(_currentDeviceName))</div>
    <br /><br />
    <button id="bcApiV01WarningClose" class="btn btn-sm btn-default text-body border">
        Dismiss
        <i class="ph-duotone ph-x-square ms-1"></i>
    </button>
</div>
*@