<Modal ShowFooter="false" Size="UltimateRemote.Enums.ModalSize.Small" Title="About Ultimate Remote" VCenter="true" Show="true" BodyCss="p-1">
    <Content>
        <div class="d-flex flex-column align-items-center text-center">
            <svg version="1.1" viewBox="0 0 213 213" xmlns="http://www.w3.org/2000/svg" title="Ultimate Remote" alt="UltimateRemote Logo" class="rounded mb-2" style="max-width: 96px;">
                <g fill="none" stroke-width="2"><path d="m213 70.9-89.65-0.14" stroke="#f1b093" vector-effect="non-scaling-stroke" /><path d="m123.35 70.76-0.07-17.46a1.67 1.65-82 0 0-1.18-1.58c-7.56-2.23-15.5-3.2-23.18-2.28q-23.44 2.79-38.62 21.46" stroke="#a19b8e" vector-effect="non-scaling-stroke" /><path d="m60.3 70.9-60.3-0.01" stroke="#f1b093" vector-effect="non-scaling-stroke" /><path d="m123.35 70.76v5.93a0.52 0.51-77.6 0 1-0.73 0.47q-15.76-7.43-32.39-1.43-7.17 2.59-12.53 9.05" stroke="#aa6f5f" vector-effect="non-scaling-stroke" /><path d="m77.7 84.78q-4.63 5.51-6.27 14.23" stroke="#ab8760" vector-effect="non-scaling-stroke" /><path d="m71.43 99.01q-1.16 6.99 0.05 13.91" stroke="#ac9c60" vector-effect="non-scaling-stroke" /><path d="m71.48 112.92q1.29 8.14 5.62 14.02" stroke="#72816c" vector-effect="non-scaling-stroke" /><path d="m77.1 126.94q5.08 7.27 12.93 10.45 14.4 5.84 28.44 0.64c1.39-0.52 2.62-1.28 4.09-1.49q0.61-0.08 0.64 0.54l0.18 4.07" stroke="#516a72" vector-effect="non-scaling-stroke" /><path d="m123.38 141.15-0.05 17.89a1.19 1.19 0 0 1-0.84 1.14q-26.67 8.03-49.77-7.37-4.72-3.15-13.12-11.76" stroke="#a19b8e" vector-effect="non-scaling-stroke" /><path d="m59.6 141.05q-0.31-0.34-0.27-0.87 0.04-0.48-0.26-0.86-4.47-5.74-6.89-12.57" stroke="#516a72" vector-effect="non-scaling-stroke" /><path d="m52.18 126.75q-2.69-6.61-3.55-13.92" stroke="#72816c" vector-effect="non-scaling-stroke" /><path d="m48.63 112.83q-0.71-6.62 0.04-13.7" stroke="#ac9c60" vector-effect="non-scaling-stroke" /><path d="m48.67 99.13q0.78-6.72 3.49-13.89" stroke="#ab8760" vector-effect="non-scaling-stroke" /><path d="m52.16 85.24q2.88-7.32 8.14-14.34" stroke="#aa6f5f" vector-effect="non-scaling-stroke" /><path d="m213 84.98-48.77 0.08" stroke="#fb9c65" vector-effect="non-scaling-stroke" /><path d="m164.23 85.06 1.14-3.16q0.18-0.51-0.36-0.51l-41.27-0.04a0.48 0.47 0.6 0 0-0.48 0.46l-0.08 3.73" stroke="#aa6f5f" vector-effect="non-scaling-stroke" /><path d="m123.18 85.54q-3.6-1.02-5.68-0.9-9.24 0.54-18.5 0.43-10.43-0.12-21.3-0.29" stroke="#fb9c65" vector-effect="non-scaling-stroke" /><path d="m52.16 85.24-52.16-0.24" stroke="#fb9c65" vector-effect="non-scaling-stroke" /><path d="m164.23 85.06-5.82 14.04" stroke="#ab8760" vector-effect="non-scaling-stroke" /><path d="m158.41 99.1-1.64 3.54q-0.23 0.49-0.76 0.49l-31.65-0.02a0.94 0.93-2 0 1-0.94-0.87l-0.24-3.3" stroke="#ac9c60" vector-effect="non-scaling-stroke" /><path d="m123.18 98.94v-13.4" stroke="#ab8760" vector-effect="non-scaling-stroke" /><path d="m123.18 98.94-51.75 0.07" stroke="#fdc966" vector-effect="non-scaling-stroke" /><path d="m213 98.97-46.72 0.17" stroke="#fdc966" vector-effect="non-scaling-stroke" /><path d="m166.28 99.14-7.87-0.04" stroke="#fdc966" vector-effect="non-scaling-stroke" /><path d="m48.67 99.13-48.67-0.17" stroke="#fdc966" vector-effect="non-scaling-stroke" /><path d="m166.28 99.14 0.11 13.73" stroke="#fede66" vector-effect="non-scaling-stroke" /><path d="m166.39 112.87-7.86 0.08" stroke="#c4c372" vector-effect="non-scaling-stroke" /><path d="m158.53 112.95-1.73-3.79q-0.21-0.46-0.72-0.47l-12.54-0.21q-0.16 0-0.29 0.08-0.12 0.07-0.26 0.07-8.87-0.03-18.04 0.04a2 1.98 10 0 0-1.85 1.28l-0.83 2.2" stroke="#fcb165" vector-effect="non-scaling-stroke" /><path d="m122.27 112.15q-0.52 0.25-1.16 0.3-7.16 0.57-14.36 0.5-17.46-0.17-35.27-0.03" stroke="#c4c372" vector-effect="non-scaling-stroke" /><path d="m48.63 112.83-48.63 0.08" stroke="#c4c372" vector-effect="non-scaling-stroke" /><path d="m213 112.95-46.61-0.08" stroke="#c4c372" vector-effect="non-scaling-stroke" /><path d="m158.53 112.95 5.75 14.02" stroke="#c29671" vector-effect="non-scaling-stroke" /><path d="m164.28 126.97q0.73 1.42 0.84 2.77 0.04 0.45-0.41 0.45l-40.17 0.04q-0.48 0-0.77-0.39-0.91-1.25-0.53-2.72" stroke="#a17f77" vector-effect="non-scaling-stroke" /><path d="m123.24 127.12q0.15-7.5 0.13-14.25 0-0.52-0.23-0.67-0.29-0.17-0.87-0.05" stroke="#c29671" vector-effect="non-scaling-stroke" /><path d="m123.24 127.12-46.14-0.18" stroke="#699184" vector-effect="non-scaling-stroke" /><path d="m52.18 126.75-52.18 0.08" stroke="#699184" vector-effect="non-scaling-stroke" /><path d="m213 126.98-48.72-0.01" stroke="#699184" vector-effect="non-scaling-stroke" /><path d="m59.6 141.05-59.6-0.03" stroke="#98aba5" vector-effect="non-scaling-stroke" /><path d="m213 141.02-89.62 0.13" stroke="#98aba5" vector-effect="non-scaling-stroke" /></g>
                <path d="m0 0h213v70.9l-89.65-0.14-0.07-17.46a1.67 1.65-82 0 0-1.18-1.58c-7.56-2.23-15.5-3.2-23.18-2.28q-23.44 2.79-38.62 21.46l-60.3-0.01v-70.89z" fill="#e8dbc1" />
                <path d="m123.35 70.76v5.93a0.52 0.51-77.6 0 1-0.73 0.47q-15.76-7.43-32.39-1.43-7.17 2.59-12.53 9.05-4.63 5.51-6.27 14.23-1.16 6.99 0.05 13.91 1.29 8.14 5.62 14.02 5.08 7.27 12.93 10.45 14.4 5.84 28.44 0.64c1.39-0.52 2.62-1.28 4.09-1.49q0.61-0.08 0.64 0.54l0.18 4.07-0.05 17.89a1.19 1.19 0 0 1-0.84 1.14q-26.67 8.03-49.77-7.37-4.72-3.15-13.12-11.76-0.31-0.34-0.27-0.87 0.04-0.48-0.26-0.86-4.47-5.74-6.89-12.57-2.69-6.61-3.55-13.92-0.71-6.62 0.04-13.7 0.78-6.72 3.49-13.89 2.88-7.32 8.14-14.34 15.18-18.67 38.62-21.46c7.68-0.92 15.62 0.05 23.18 2.28a1.67 1.65-82 0 1 1.18 1.58l0.07 17.46z" fill="#5a5a5a" />
                <path d="m123.35 70.76 89.65 0.14v14.08l-48.77 0.08 1.14-3.16q0.18-0.51-0.36-0.51l-41.27-0.04a0.48 0.47 0.6 0 0-0.48 0.46l-0.08 3.73q-3.6-1.02-5.68-0.9-9.24 0.54-18.5 0.43-10.43-0.12-21.3-0.29 5.36-6.46 12.53-9.05 16.63-6 32.39 1.43a0.52 0.51-77.6 0 0 0.73-0.47v-5.93z" fill="#fa8464" />
                <path d="m60.3 70.9q-5.26 7.02-8.14 14.34l-52.16-0.24v-14.11l60.3 0.01z" fill="#fa8464" />
                <path d="m164.23 85.06-5.82 14.04-1.64 3.54q-0.23 0.49-0.76 0.49l-31.65-0.02a0.94 0.93-2 0 1-0.94-0.87l-0.24-3.3v-13.4l0.08-3.73a0.48 0.47 0.6 0 1 0.48-0.46l41.27 0.04q0.54 0 0.36 0.51l-1.14 3.16z" fill="#5a5a5a" />
                <path d="m77.7 84.78q10.87 0.17 21.3 0.29 9.26 0.11 18.5-0.43 2.08-0.12 5.68 0.9v13.4l-51.75 0.07q1.64-8.72 6.27-14.23z" fill="#fcb465" />
                <path d="m213 84.98v13.99l-46.72 0.17-7.87-0.04 5.82-14.04 48.77-0.08z" fill="#fcb465" />
                <path d="m0 85 52.16 0.24q-2.71 7.17-3.49 13.89l-48.67-0.17v-13.96z" fill="#fcb465" />
                <path d="m123.18 98.94 0.24 3.3a0.94 0.93-2 0 0 0.94 0.87l31.65 0.02q0.53 0 0.76-0.49l1.64-3.54 7.87 0.04 0.11 13.73-7.86 0.08-1.73-3.79q-0.21-0.46-0.72-0.47l-12.54-0.21q-0.16 0-0.29 0.08-0.12 0.07-0.26 0.07-8.87-0.03-18.04 0.04a2 1.98 10 0 0-1.85 1.28l-0.83 2.2q-0.52 0.25-1.16 0.3-7.16 0.57-14.36 0.5-17.46-0.17-35.27-0.03-1.21-6.92-0.05-13.91l51.75-0.07z" fill="#fede66" />
                <path d="m48.67 99.13q-0.75 7.08-0.04 13.7l-48.63 0.08v-13.95l48.67 0.17z" fill="#fede66" />
                <path d="m213 98.97v13.98l-46.61-0.08-0.11-13.73 46.72-0.17z" fill="#fede66" />
                <path d="m158.53 112.95 5.75 14.02q0.73 1.42 0.84 2.77 0.04 0.45-0.41 0.45l-40.17 0.04q-0.48 0-0.77-0.39-0.91-1.25-0.53-2.72 0.15-7.5 0.13-14.25 0-0.52-0.23-0.67-0.29-0.17-0.87-0.05l0.83-2.2a2 1.98 10 0 1 1.85-1.28q9.17-0.07 18.04-0.04 0.14 0 0.26-0.07 0.13-0.08 0.29-0.08l12.54 0.21q0.51 0.01 0.72 0.47l1.73 3.79z" fill="#fa8464" />
                <path d="m122.27 112.15q0.58-0.12 0.87 0.05 0.23 0.15 0.23 0.67 0.02 6.75-0.13 14.25l-46.14-0.18q-4.33-5.88-5.62-14.02 17.81-0.14 35.27 0.03 7.2 0.07 14.36-0.5 0.64-0.05 1.16-0.3z" fill="#8aa77e" />
                <path d="m48.63 112.83q0.86 7.31 3.55 13.92l-52.18 0.08v-13.92l48.63-0.08z" fill="#8aa77e" />
                <path d="m158.53 112.95 7.86-0.08 46.61 0.08v14.03l-48.72-0.01-5.75-14.02z" fill="#8aa77e" />
                <path d="m0 126.83 52.18-0.08q2.42 6.83 6.89 12.57 0.3 0.38 0.26 0.86-0.04 0.53 0.27 0.87l-59.6-0.03v-14.19z" fill="#477a89" />
                <path d="m123.24 127.12q-0.38 1.47 0.53 2.72 0.29 0.39 0.77 0.39l40.17-0.04q0.45 0 0.41-0.45-0.11-1.35-0.84-2.77l48.72 0.01v14.04l-89.62 0.13-0.18-4.07q-0.03-0.62-0.64-0.54c-1.47 0.21-2.7 0.97-4.09 1.49q-14.04 5.2-28.44-0.64-7.85-3.18-12.93-10.45l46.14 0.18z" fill="#477a89" />
                <path d="m0 141.02 59.6 0.03q8.4 8.61 13.12 11.76 23.1 15.4 49.77 7.37a1.19 1.19 0 0 0 0.84-1.14l0.05-17.89 89.62-0.13v71.98h-213v-71.98z" fill="#e8dbc1" />
            </svg>
            <span class="text-nowrap" style="font-family:'C64Pro';">ULTIMATE REMOTE</span>
            <span class="text-body fw-semibold mt-2">Onur BÜYÜKÇAĞLAR</span>
            <a href="mailto:ultimate-remote@buyukcaglar.com" class="form-text d-flex align-items-center">
                ultimate-remote<i class="fs-sm ph-at"></i>buyukcaglar.com
            </a>
            <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/" class="form-text">
                <a property="dct:title" rel="cc:attributionURL" href="https://github.com/Buyukcaglar/UltimateRemote" class="form-text fw-semibold" target="_blank" title="Ultimate Remote GitHub Page"><i class="ph-github-logo ph-duotone"></i>Ultimate Remote</a> is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="license noopener noreferrer" class="form-text fw-semibold" style="display:inline-block;" title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License">CC BY-NC-SA 4.0</a>
            </p>
            <p>
                <svg version="1.0" id="icn_cc" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="16px" height="16px" viewBox="5.5 -3.5 64 64" enable-background="new 5.5 -3.5 64 64" xml:space="preserve" title="Attribution: You must give appropriate credit , provide a link to the license, and indicate if changes were made.">
                    <g>
                        <circle fill="#FFFFFF" cx="37.785" cy="28.501" r="28.836" />
                        <path d="M37.441-3.5c8.951,0,16.572,3.125,22.857,9.372c3.008,3.009,5.295,6.448,6.857,10.314
		                        c1.561,3.867,2.344,7.971,2.344,12.314c0,4.381-0.773,8.486-2.314,12.313c-1.543,3.828-3.82,7.21-6.828,10.143
		                        c-3.123,3.085-6.666,5.448-10.629,7.086c-3.961,1.638-8.057,2.457-12.285,2.457s-8.276-0.808-12.143-2.429
		                        c-3.866-1.618-7.333-3.961-10.4-7.027c-3.067-3.066-5.4-6.524-7-10.372S5.5,32.767,5.5,28.5c0-4.229,0.809-8.295,2.428-12.2
		                        c1.619-3.905,3.972-7.4,7.057-10.486C21.08-0.394,28.565-3.5,37.441-3.5z M37.557,2.272c-7.314,0-13.467,2.553-18.458,7.657
		                        c-2.515,2.553-4.448,5.419-5.8,8.6c-1.354,3.181-2.029,6.505-2.029,9.972c0,3.429,0.675,6.734,2.029,9.913
		                        c1.353,3.183,3.285,6.021,5.8,8.516c2.514,2.496,5.351,4.399,8.515,5.715c3.161,1.314,6.476,1.971,9.943,1.971
		                        c3.428,0,6.75-0.665,9.973-1.999c3.219-1.335,6.121-3.257,8.713-5.771c4.99-4.876,7.484-10.99,7.484-18.344
		                        c0-3.543-0.648-6.895-1.943-10.057c-1.293-3.162-3.18-5.98-5.654-8.458C50.984,4.844,44.795,2.272,37.557,2.272z M37.156,23.187
		                        l-4.287,2.229c-0.458-0.951-1.019-1.619-1.685-2c-0.667-0.38-1.286-0.571-1.858-0.571c-2.856,0-4.286,1.885-4.286,5.657
		                        c0,1.714,0.362,3.084,1.085,4.113c0.724,1.029,1.791,1.544,3.201,1.544c1.867,0,3.181-0.915,3.944-2.743l3.942,2
		                        c-0.838,1.563-2,2.791-3.486,3.686c-1.484,0.896-3.123,1.343-4.914,1.343c-2.857,0-5.163-0.875-6.915-2.629
		                        c-1.752-1.752-2.628-4.19-2.628-7.313c0-3.048,0.886-5.466,2.657-7.257c1.771-1.79,4.009-2.686,6.715-2.686
		                        C32.604,18.558,35.441,20.101,37.156,23.187z M55.613,23.187l-4.229,2.229c-0.457-0.951-1.02-1.619-1.686-2
		                        c-0.668-0.38-1.307-0.571-1.914-0.571c-2.857,0-4.287,1.885-4.287,5.657c0,1.714,0.363,3.084,1.086,4.113
		                        c0.723,1.029,1.789,1.544,3.201,1.544c1.865,0,3.18-0.915,3.941-2.743l4,2c-0.875,1.563-2.057,2.791-3.541,3.686
		                        c-1.486,0.896-3.105,1.343-4.857,1.343c-2.896,0-5.209-0.875-6.941-2.629c-1.736-1.752-2.602-4.19-2.602-7.313
		                        c0-3.048,0.885-5.466,2.658-7.257c1.77-1.79,4.008-2.686,6.713-2.686C51.117,18.558,53.938,20.101,55.613,23.187z" />
                    </g>
                </svg>
                <svg version="1.0" id="icn_by" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="16px" height="16px" viewBox="5.5 -3.5 64 64" enable-background="new 5.5 -3.5 64 64" xml:space="preserve" title="NonCommercial: You may not use the material for commercial purposes.">
                    <g>
                        <circle fill="#FFFFFF" cx="37.637" cy="28.806" r="28.276" />
                        <g>
                            <path d="M37.443-3.5c8.988,0,16.57,3.085,22.742,9.257C66.393,11.967,69.5,19.548,69.5,28.5c0,8.991-3.049,16.476-9.145,22.456
			                        C53.879,57.319,46.242,60.5,37.443,60.5c-8.649,0-16.153-3.144-22.514-9.43C8.644,44.784,5.5,37.262,5.5,28.5
			                        c0-8.761,3.144-16.342,9.429-22.742C21.101-0.415,28.604-3.5,37.443-3.5z M37.557,2.272c-7.276,0-13.428,2.553-18.457,7.657
			                        c-5.22,5.334-7.829,11.525-7.829,18.572c0,7.086,2.59,13.22,7.77,18.398c5.181,5.182,11.352,7.771,18.514,7.771
			                        c7.123,0,13.334-2.607,18.629-7.828c5.029-4.838,7.543-10.952,7.543-18.343c0-7.276-2.553-13.465-7.656-18.571
			                        C50.967,4.824,44.795,2.272,37.557,2.272z M46.129,20.557v13.085h-3.656v15.542h-9.944V33.643h-3.656V20.557
			                        c0-0.572,0.2-1.057,0.599-1.457c0.401-0.399,0.887-0.6,1.457-0.6h13.144c0.533,0,1.01,0.2,1.428,0.6
			                        C45.918,19.5,46.129,19.986,46.129,20.557z M33.042,12.329c0-3.008,1.485-4.514,4.458-4.514s4.457,1.504,4.457,4.514
			                        c0,2.971-1.486,4.457-4.457,4.457S33.042,15.3,33.042,12.329z" />
                        </g>
                    </g>
                </svg>

                <svg version="1.0" id="icn_nc" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="16px" height="16px" viewBox="5.5 -3.5 64 64" enable-background="new 5.5 -3.5 64 64" xml:space="preserve" title="NonCommercial: You may not use the material for commercial purposes.">
                    <g>
                        <circle fill="#FFFFFF" cx="37.47" cy="28.736" r="29.471" />
                        <g>
                            <path d="M37.442-3.5c8.99,0,16.571,3.085,22.743,9.256C66.393,11.928,69.5,19.509,69.5,28.5c0,8.992-3.048,16.476-9.145,22.458
			                        C53.88,57.32,46.241,60.5,37.442,60.5c-8.686,0-16.19-3.162-22.513-9.485C8.644,44.728,5.5,37.225,5.5,28.5
			                        c0-8.762,3.144-16.343,9.429-22.743C21.1-0.414,28.604-3.5,37.442-3.5z M12.7,19.872c-0.952,2.628-1.429,5.505-1.429,8.629
			                        c0,7.086,2.59,13.22,7.77,18.4c5.219,5.144,11.391,7.715,18.514,7.715c7.201,0,13.409-2.608,18.63-7.829
			                        c1.867-1.79,3.332-3.657,4.398-5.602l-12.056-5.371c-0.421,2.02-1.439,3.667-3.057,4.942c-1.622,1.276-3.535,2.011-5.744,2.2
			                        v4.915h-3.714v-4.915c-3.543-0.036-6.782-1.312-9.714-3.827l4.4-4.457c2.094,1.942,4.476,2.913,7.143,2.913
			                        c1.104,0,2.048-0.246,2.83-0.743c0.78-0.494,1.172-1.312,1.172-2.457c0-0.801-0.287-1.448-0.858-1.943l-3.085-1.315l-3.771-1.715
			                        l-5.086-2.229L12.7,19.872z M37.557,2.214c-7.276,0-13.428,2.571-18.457,7.714c-1.258,1.258-2.439,2.686-3.543,4.287L27.786,19.7
			                        c0.533-1.676,1.542-3.019,3.029-4.028c1.484-1.009,3.218-1.571,5.2-1.686V9.071h3.715v4.915c2.934,0.153,5.6,1.143,8,2.971
			                        l-4.172,4.286c-1.793-1.257-3.619-1.885-5.486-1.885c-0.991,0-1.876,0.191-2.656,0.571c-0.781,0.381-1.172,1.029-1.172,1.943
			                        c0,0.267,0.095,0.533,0.285,0.8l4.057,1.83l2.8,1.257l5.144,2.285l16.397,7.314c0.535-2.248,0.801-4.533,0.801-6.857
			                        c0-7.353-2.552-13.543-7.656-18.573C51.005,4.785,44.831,2.214,37.557,2.214z" />
                        </g>
                    </g>
                </svg>

                <svg version="1.0" id="icn_sa" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="16px" height="16px" viewBox="5.5 -3.5 64 64" enable-background="new 5.5 -3.5 64 64" xml:space="preserve" title="ShareAlike: If you remix, transform, or build upon the material, you must distribute your contributions under the same license as the original.">
                    <g>
                        <circle fill="#FFFFFF" cx="36.944" cy="28.631" r="29.105" />
                        <g>
                            <path d="M37.443-3.5c8.951,0,16.531,3.105,22.742,9.315C66.393,11.987,69.5,19.548,69.5,28.5c0,8.954-3.049,16.457-9.145,22.514
			                        C53.918,57.338,46.279,60.5,37.443,60.5c-8.649,0-16.153-3.143-22.514-9.429C8.644,44.786,5.5,37.264,5.5,28.501
			                        c0-8.723,3.144-16.285,9.429-22.685C21.138-0.395,28.643-3.5,37.443-3.5z M37.557,2.272c-7.276,0-13.428,2.572-18.457,7.715
			                        c-5.22,5.296-7.829,11.467-7.829,18.513c0,7.125,2.59,13.257,7.77,18.4c5.181,5.182,11.352,7.771,18.514,7.771
			                        c7.123,0,13.334-2.609,18.629-7.828c5.029-4.876,7.543-10.99,7.543-18.343c0-7.313-2.553-13.485-7.656-18.513
			                        C51.004,4.842,44.832,2.272,37.557,2.272z M23.271,23.985c0.609-3.924,2.189-6.962,4.742-9.114
			                        c2.552-2.152,5.656-3.228,9.314-3.228c5.027,0,9.029,1.62,12,4.856c2.971,3.238,4.457,7.391,4.457,12.457
			                        c0,4.915-1.543,9-4.627,12.256c-3.088,3.256-7.086,4.886-12.002,4.886c-3.619,0-6.743-1.085-9.371-3.257
			                        c-2.629-2.172-4.209-5.257-4.743-9.257H31.1c0.19,3.886,2.533,5.829,7.029,5.829c2.246,0,4.057-0.972,5.428-2.914
			                        c1.373-1.942,2.059-4.534,2.059-7.771c0-3.391-0.629-5.971-1.885-7.743c-1.258-1.771-3.066-2.657-5.43-2.657
			                        c-4.268,0-6.667,1.885-7.2,5.656h2.343l-6.342,6.343l-6.343-6.343L23.271,23.985L23.271,23.985z" />
                        </g>
                    </g>
                </svg>

            </p>
        </div>
        <div class="d-flex-flex-column m-1">
            <h6 class="hstack gap-1 mb-1 pb-1 border-bottom fw-medium" style="font-size:14px" title="Attributions">
                <i class="ph-copyright"></i>
                <span style="margin-top: 1px;">Goodies that made Ultimate Remote much more good</span>
            </h6>
            <div class="d-flex flex-row flex-wrap justify-content-between">
                <div class="form-text m-1 mb-2 text-center">
                    Beautiful C64 icon by<br /><a href="https://github.com/simskij" class="form-text fw-semibold" target="_blank" title="Visit Simon's GitHub Page">Simon Aronsson</a>
                </div>
                <div class="form-text m-1 mb-2 text-center flex-fill">
                    C64 PRO Font by<br /><a href="https://style64.org/c64-truetype" class="form-text fw-semibold" target="_blank" title="Go to Style64's C64 Font Page">Style64</a>
                </div>
                <div class="form-text m-1 mb-2 text-center flex-fill">
                    Icons by<br /><a href="https://phosphoricons.com" class="form-text fw-semibold" target="_blank" title="Have a peek at thousands of beautiful icons">Phosphor Icons</a>
                </div>
                <div class="form-text m-1 mb-2 text-center flex-fill">
                    App theme by<br /><a href="https://demo.interface.club/limitless/" class="form-text fw-semibold" target="_blank" title="Check out Limitless Web App Kit">Limitless Web App Kit</a>
                </div>
                <div class="form-text m-1 text-center flex-fill">
                    Basic Editor/Tokenizer is used with kind permission of <br /><a href="https://ultimate64.com/" class="form-text fw-semibold" target="_blank" title="Visit ultimate64.com">Gideon Zweijtzer</a> and <span class="fw-semibold">respective original author</span>.
                </div>
            </div>
        </div>
    </Content>
</Modal>
