@inherits BaseComponent

<div class="d-flex flex-row flex-sm-column">
    <BasicFunction FuncType="@LayoutItemType.ResetMachine" FunctionCardAlignSelfStart="@null" />
    <BasicFunction FuncType="@LayoutItemType.RebootMachine" FunctionCardAlignSelfStart="@null" />
</div>