<p>
    User Menu items and their short descriptions are revealed below;
</p>

<p>
    <span class="fw-semibold">
        <i class="ph-duotone ph-monitor me-2"></i>
        Device Manager:
    </span>
    Provides registration facilities for registering Ultimate devices.
</p>
<p>
    <span class="fw-semibold">
        <i class="ph-duotone ph-usb me-2"></i>
        Storage Content Manager:
    </span>
    Provides file import functionality for USB storage media that used on Ultimate devices.
</p>
<p>
    <span class="fw-semibold">
        <i class="ph-duotone ph-layout me-2"></i>
        Layout Manager:
    </span>
    Enables users to customize their Home Screen functions and short-cuts.
</p>
<p>
    <span class="fw-semibold">
        <i class="ph-duotone ph-sliders me-2"></i>
        Configuration Manager:
    </span>
    Ultimate device configuration management module.
</p>
<p>
    <span class="fw-semibold">
        <i class="ph-duotone ph-code me-2"></i>
        Basic Editor:
    </span>
    Basic Editor/Tokenizer from Ultimate firmware v3.11
</p>
<p>
    <span class="fw-semibold">
        <i class="ph-duotone ph-vinyl-record me-2"></i>
        Jukebox Manager:
    </span>
    Enables functionalities for importing HVSC and their Songlengths Db file, provides creating and updating SID file Playlists.
</p>
<p>
    <span class="fw-semibold">
        <i class="ph-duotone ph-toggle-left me-2"></i>
        Preferences:
    </span>
    Enables changing default values and options for some functionality of Ultimate Remote application.
</p>
<p>
    <span class="fw-semibold">
        <i class="ph-duotone ph-moon"></i> / <i class="ph-duotone ph-sun"></i>
        Switch to dark/light theme:
    </span>
    Switches back and forth dark or light theme to use with Ultimate Remote.
</p>
<p>
    <span class="fw-semibold">
        <i class="ph-duotone ph-question me-2"></i>
        Help:
    </span>
    This very Help screens.
</p>
<p>
    <span class="fw-semibold">
        <i class="ph-duotone ph-info me-2"></i>
        About Ultimate Remote:
    </span>
    Displays information and attributions about Ultimate Remote.
</p>