<p>
    This module queries current selected device configuration and displays in segments. Allows user to update configuration and persist changes.
</p>

<p>
    Note that changes made in here reflected automatically but not persisted until specifically done via Save Configuration to Flash option.
</p>

<p>
    <span class="fw-semibold">
        <i class="ph-lightning ph-duotone"></i>
    </span>
    Saves current configuration to Flash, thus persists current configuration.
</p>

<p>
    <span class="fw-semibold">
        <i class="ph-file-arrow-up ph-duotone"></i>
    </span>
    Loads configuration from flash thus overwrites any changes in the memory.
</p>

<p>
    <span class="fw-semibold">
        <i class="ph-recycle ph-duotone"></i>
    </span>
    Reset current configuration back to factory defaults, thus overwrites any changes in the memory.
</p>