<p>This module enables creation of Jukebox Playlists and Play Music functionality of HVSC SID Files.</p>
<p>In order to create Jukebox Playlists or play HVSC SID Files, it is required to import HVSC from its website. This is an automated process will automatically download <span class="fw-semibold">High Voltage SID Collection from hvsc.c64.org website</span> along with <span class="fw-semibold">Songlengths.md5</span> file. Then extracts archive and build one time cache to use with Ultimate Remote. Entire operation takes between <span class="fw-semibold">20 minutes to several hours</span> depending on your device capabilities and requires about <span class="fw-semibold">500 mb</span> storage space.</p>

<p>After completing import operation, Jukebox Playlists can be created or HVSC SID files can directly be put on Home Screen as shortcuts.</p>

<p>The icons and their functions are described below;</p>

<p>
    <span class="fw-semibold">
        <i class="ph-plus-circle ph-duotone"></i>
    </span>
    Adds new Jukebox Playlist. To rename newly added (or any previously added) playlist, @PlatformDependent.ClickTap to name area on top left corner in order to edit its name.
</p>

<p>
    <span class="fw-semibold">
        <i class="ph-caret-down ph-duotone"></i>
    </span>
    Used to sort SID files in the playlist, moves down SID file.
</p>

<p>
    <span class="fw-semibold">
        <i class="ph-caret-up ph-duotone"></i>
    </span>
    Used to sort SID files in the playlist, moves up SID file.
</p>

<p>
    <span class="fw-semibold">
        <i class="ph-trash ph-duotone"></i>
    </span>
    Removes Playlist an all its contents (SID Files) along with it.
</p>

<p>
    <span class="fw-semibold">
        <i class="ph-trash"></i>
    </span>
    Removes SID file from playlist.
</p>

<p>
    <span class="fw-semibold">
        <i class="ph-plus-circle ph-duotone"></i>
        Add Tunes(s)
    </span>
    Displays HVSC SID file search popup, in order to search and add SID files to Playlist.
</p>

<p>
    Created playlists (which are having at least one SID file in them) may be added to <span class="fw-semibold">Home Screen</span> by using <span class="fw-semibold">Layout Manager</span>.
</p>