<p>
    This is the same basic editor found in the Ultimate Firmware v3.11, used with kind permissions of Gideon Zweijtzer and respective original author.
</p>

<p>
    This editor does not validate provided basic program, so it is not suitable to use as an IDE. After writing/copy-pasting, basic program can be uploaded via Upload button. A successful upload to C64 Memory will display success confirmation popup. After successful upload, user may list or run the uploaded program from C64 itself. 
</p>