<p>This module enables user to modify and save some of the running parameters of Ultimate Remote app.</p>
<p>Changes done here reflected automatically for current session, but not preserved permanently until specifically saved using <i class="ph-floppy-disk ph-duotone"></i>.</p>
